@charset "utf-8";
@media screen and (max-width: 1024px) {
  .nav {
    flex-direction: column;
  }
  #section1 .main {
    margin-top: 150px;
  }
  #section2 .tit {
    word-break: keep-all;
  }
  #section2 .tit br {
    display: none;
  }
  #section2 .info {
    flex-direction: column;
    padding: 0 50px;
    box-sizing: border-box;
  }
  /* #section2 .edu > div {
    justify-content: flex-start;
    gap: 40px;
  } */

  /* #section2 .edu > div .des {
    display: none;
  } */
  #section2 .edu > div ul {
    gap: 10px;
    padding: 0 50px;
    box-sizing: border-box;
  }
  #section2 .edu > div ul li:nth-child(3) {
    display: none;
  }
  .project .museum .in {
    flex-direction: column;
  }
  .project .museum .in .text {
    padding: 0 50px;
    box-sizing: border-box;
    word-break: keep-all;
  }
  .project .museum .in .text br {
    display: none;
  }
  #section4 .con h1 {
    font-size: 50px;
  }
  .project > div:nth-child(even) {
    padding-left: 0;
  }
  .project > div:nth-child(odd) {
    padding-right: 0;
  }

  #section4 .bot {
    padding: 0 10px;
  }
  #section4 .bot li img {
    margin-right: 0;
  }
  #section4 .bot li:nth-child(2) {
    display: inline-block;
  }
}
@media screen and (max-width: 768px) {
  .nav .menu {
    gap: 10px;
    padding: 0 10px;
    box-sizing: border-box;
  }
  #section1 .main p {
    display: none;
  }
  #section1 .main .txt > li:nth-child(2) {
    font-size: 70px;
  }
  #section1 .main .txt > li:nth-child(3) {
    font-size: 70px;
  }
  #section1 .main ul li:nth-child(4) {
    font-size: 30px;
  }
  #section1 .main ul li:nth-child(4) br {
    display: block;
  }
  #section1 .main .bt li a {
    display: none;
  }
  #section2 .info .tool div p {
    font-size: 12px;
    color: #1a1a1a;
  }
  #section3 .fir {
    padding: 0 50px;
    box-sizing: border-box;
    flex-direction: column;
    align-items: flex-start;
  }
  .project .museum h2 span {
    color: #6b4e45;
  }
  .project .museum .in .img {
    width: 90%;
  }
  .project .museum .in .img img {
    width: 100%;
    filter: none;
  }
  .project .museum .in .text {
    width: 90%;
  }
  .project .museum .in .text div {
    gap: 10px;
    flex-wrap: nowrap;
  }
  .project .museum .in .text div > p {
    padding: 5px 10px;
    font-size: 12px;
  }
  .project .museum .in .text .but li {
    padding: 10px 40px;
  }
  #section4 .con h1 {
    font-size: 20px;
  }
  #section4 .bot {
    flex-direction: column;
  }
  #section4 .index li:nth-child(2) {
    display: none;
  }
}
@media screen and (max-width: 380px) {
  #section1 .main {
    margin-top: 200px;
  }
}
