@charset "utf-8";
@font-face {
  font-family: "spinwerad";
  src: url("../font/spinwerad.woff");
}
@font-face {
  font-family: "SUIT";
  src: url("../font/SUIT-Regular.woff2");
}
@font-face {
  font-family: "PlayfairDisplay";
  src: url("../font/PlayfairDisplay-Regular.woff");
}
* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: #333;
}
ul {
  list-style: none;
}
body {
  background-color: #f5f1f0;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)' opacity='0.05'/%3E%3C/svg%3E");
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 50px;
  box-sizing: border-box;
  font-family: "Pretendard";
  text-transform: uppercase;
  position: static;
}
.nav .logo {
  animation: turn 3s infinite;
}
.nav .logo img {
  width: 50px;
}
@keyframes turn {
  0% {
    transform: rotate(-360deg);
  }
}
.nav .menu {
  display: flex;
  gap: 50px;
}
.nav .menu li a {
  font-size: 20px;
}
.nav .menu li:hover a {
  color: #6b4e45;
}
.nav .menu li:last-child a {
  border: 1px solid #6b4e45;
  color: #6b4e45;
  border-radius: 30px;
  padding: 5px 10px;
}
.nav .menu li:last-child:hover a {
  background-color: #6b4e45;
  color: #fff;
}
#section1 {
  height: 900px;
  position: relative;
}
#section1 .main {
  margin-top: 100px;
  padding: 0 50px;
  box-sizing: border-box;
  /* font-family: "Pretendard"; */
  font-family: "PlayfairDisplay";
}
/* #section1 .main .txt > li:first-child {
  padding-left: 10%;
  font-size: 80px;
} */
#section1 .main .txt > li:first-child {
  font-size: 30px;
  text-align: center;
}
#section1 .main .txt > li:nth-child(2) {
  font-family: "spinwerad";

  font-size: 100px;
  /* color: #6b4e45; */
  text-align: center;
}
#section1 .main .txt > li:nth-child(3) {
  font-size: 100px;
  /* font-weight: 100; */
  text-align: center;
}
#section1 .main ul li:nth-child(4) {
  text-align: center;
  font-size: 50px;
  color: #6b4e45;
}
#section1 .main li {
  font-size: 20px;
}
#section1 .main .bt {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 100px;
}
#section1 .main .bt li a {
  border: 1px solid #6b4e45;
  color: #6b4e45;
  border-radius: 30px;
  padding: 10px 15px;
  font-size: 20px;
  font-family: "Pretendard";
  text-align: right;
  /* position: absolute;
  top: 150%;
  left: 40%; */
}
#section1 .main .bt li:first-child a {
  color: #fff;
  background: #000;
}
#section1 .main .bt li:hover a {
  color: #fff;
  background: #6b4e45;
}
#section1 .main p {
  margin-top: 100px;
  text-align: center;
  font-family: "Pretendard";
  color: #ccc;
}
.down {
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding: 0 50px;
  box-sizing: border-box;
  /* margin-top: 360px; */
  margin-top: 190px;
  font-size: 18px;
  font-family: "Pretendard";
}
.down li img {
  width: 150px;
}
#section {
  margin-top: 100px;
}
#section2 h2 {
  font-family: "spinwerad";
  font-size: 60px;
  text-align: left;
  padding-left: 50px;
}
/* #section2 .intro {
  width: 95%;
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  font-family: "Pretendard";
}
.intro > div:first-child {
  position: sticky;
  width: 580px;
  padding-top: 100px;
  top: 0;
  height: 100%;
}
.intro > div:first-child p {
  width: 354px;
}
.intro > div:first-child img {
  width: 100%;
  object-fit: cover;
  margin-bottom: 50px;
}
.intro > div:first-child .name {
  display: flex;
  gap: 20px;
}
.intro > div:first-child .birth {
  display: flex;
  gap: 30px;
}
.intro > div:first-child span {
  font-size: 18px;
  font-weight: 300;
  color: #333;
}
.intro > div:first-child ul {
  margin-top: 100px;
  display: flex;
  gap: 30px;
  font-size: 20px;
}
.intro > div:first-child ul li a {
  border: 1px solid;
  border-radius: 30px;
  padding: 5px 10px;
}
.intro > div:nth-child(2) {
  flex: 1;
}
.intro > div:nth-child(2) .item {
  display: flex;
  gap: 100px;
  padding-top: 100px;
}
.intro > div:nth-child(2) .item h3 {
  font-size: 25px;
  margin: 50px 0;
  color: #6b4e45;
}
.intro > div:nth-child(2) .item p {
  font-size: 18px;
  line-height: 30px;
}
.intro > div:nth-child(2) .item span {
  color: #ccc;
}
.intro > div:nth-child(2) #resume .edu span {
  font-size: 15px;
  margin-left: 10px;
  color: rgba(0, 0, 0, 0.5);
}
.intro > div:nth-child(2) #about p {
  line-height: 30px;
  color: rgba(0, 0, 0, 0.5);
}
.intro > div:nth-child(2) .item:target > span {
  color: #6b4e45;
}
.intro > div:nth-child(2) .skill ul {
  display: flex;
  gap: 20px;
}
.intro > div:nth-child(2) #about h4 {
  font-size: 20px;
}
.intro > div:nth-child(2) #about hr {
  margin: 10px 0;
}
.intro > div:nth-child(2) #about p {
  margin-bottom: 50px;
}
.foot {
  height: 400px;
} */
h2 {
  font-family: "spinwerad";
  font-size: 60px;
  text-align: left;
  padding-left: 50px;
}
#section2 {
  text-align: center;
  position: relative;
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
}
#section2 .imge {
  margin-top: 100px;
  position: relative;
}
#section2 .imge .me img {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  object-fit: cover;
  filter: grayscale(1);
}
#section2 .imge .me img:hover {
  filter: grayscale(0);
}
#section2 .imge .hwa {
  width: 32px;
  height: 32px;
  background-color: #000;
  border-radius: 100%;
  position: absolute;
  left: 55%;
  top: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#section2 .imge .hwa > img {
  filter: brightness(0) invert(1);
  width: 20px;
  height: 20px;
  object-fit: cover;
  animation: turn 3s infinite;
}
#section2 .tit {
  margin: 10px 0 50px 0;
}
#section2 .tit li:first-child {
  margin: 30px;
  font-size: 20px;
}
#section2 .tit li:last-child {
  font-family: "Pretendard";
  font-size: 18px;
}
#section2 .tit li:last-child b {
  color: #6b4e45;
}
#section2 .info {
  display: flex;
  justify-content: space-around;
  margin: 30px 0;
  text-align: left;
}
#section2 .info li h4 {
  font-size: 22px;
  margin-bottom: 10px;
}
#section2 .info li p {
  font-size: 18px;
}
#section2 .info li p > span {
  color: #6b4e45;
  text-transform: uppercase;
  font-size: 16px;
  margin-right: 10px;
}
#section2 .info li:first-child {
  margin-bottom: 50px;
}
#section2 .info li p:last-child > span {
  margin-right: 5px;
}

#section2 .info h4 {
  margin-top: 20px;
}
#section2 .info .tool div {
  display: flex;
  gap: 30px;
}
#section2 .info .tool div p {
  font-size: 16px;
  color: #1a1a1a;
}
#section2 .info li > .cha p {
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 18px;
}

#section2 .info li > .cha p > span {
  font-size: 12px;
  font-weight: lighter;
  border: 1px solid #6b4e45;
  border-radius: 30px;
  padding: 5px 10px;
  box-sizing: border-box;
  margin-left: 10px;
}
#section2 .info li > .cha > div h5 {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 10px;
}
#section2 .info li > .cha > div {
  margin-bottom: 30px;
}
#section2 .edu ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
}
#section2 .edu .obj {
  margin-bottom: 10px;
}
#section2 .edu .obj li:first-child {
  font-size: 45px;
  font-weight: bold;
}
#section2 .edu .obj li:nth-child(2) {
  color: #6b4e45;
}
#section2 .edu .cont {
  padding: 25px 0;
  box-sizing: border-box;
}
#section2 .edu .cont li:first-child > span {
  color: #6b4e45;
}
#section3 > h2 {
  font-family: "spinwerad";
  font-size: 60px;
  text-align: left;
  padding-left: 50px;
}
#section3 ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#section3 ul li:first-child {
  font-size: 72px;
  font-family: "PlayfairDisplay";
}
#section3 ul li:first-child span {
  color: #6b4e45;
}
#section3 ul li:last-child {
  color: #aaa;
}
.project h2 {
  font-size: 36px;
}
.project .museum .in {
  display: flex;
}
.project .museum .in .text h3::before {
  content: "|";
  position: absolute;
  left: -10px;
}
.project .museum .in .text h3 {
  font-size: 18px;
  position: relative;
}
/* .project {
  padding: 100px 0 0 0;
  font-family: "Pretendard";
}
.project .img {
  width: 1000px;
}
.project .img img {
  width: 100%;
  object-fit: cover;
}
.project .text h2 {
  font-size: 25px;
  margin-bottom: 20px;
}
.project .text p {
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 20px;
  color: rgba(0, 0, 0, 0.5);
}
.project .text ul {
  display: flex;
  justify-content: space-between;
  font-size: 25px;
  font-weight: bold;
}
.project .text ul li img {
  width: 20px;
  object-fit: cover;
}
.project .text hr {
  margin-top: 10px;
}
.project > div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  margin-bottom: 200px;
} */
/* #section4 > h2 {
  font-family: "spinwerad";
  font-size: 60px;
  text-align: left;
  padding-left: 50px;
} */
/* #section4 ul {
  display: flex;
  justify-content: space-around;
}
#section4 ul li img {
  filter: invert(100%);
}
#section4 ul li:nth-child(3) img {
  filter: invert(0);
}
#section4 div hr:nth-child(1) {
  margin-bottom: 50px;
}
#section4 div hr:nth-child(2) {
  margin-top: 50px;
}
#section4 p {
  font-family: "Pretendard";
  font-size: 15px;
  text-align: center;
} */
#section4 {
  text-align: center;
}
#section4 .index {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  box-sizing: border-box;
}
#section4 .index li h2 {
  font-family: "spinwerad";
  font-size: 60px;
  color: #000;
}
#section4 .index li {
  font-family: "PlayfairDisplay";
  font-size: 30px;
  color: #6b4e45;
}
#section4 .con {
  margin-top: 100px;
  padding: 0 50px;
  box-sizing: border-box;
}
#section4 .con p {
  font-size: 30px;
  margin-bottom: 30px;
  color: #6b4e45;
  font-family: "PlayfairDisplay";
}
#section4 .con h2 {
  font-size: 60px;
  margin-bottom: 20px;
  font-family: "spinwerad";
}
#section4 .con h1 {
  font-size: 140px;
  font-family: "PlayfairDisplay";
  font-weight: inherit;
  margin-bottom: 30px;
}
#section4 .sns {
  display: flex;
  justify-content: center;
  gap: 100px;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 100px;
  margin-bottom: 200px;
}
#section4 .sns li a:hover {
  color: #6b4e45;
}
#section4 .bot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  color: #aaa;
  font-size: 14px;
  padding: 0 50px;
  box-sizing: border-box;
}

#section4 .bot li a {
  border: 1px solid;
  border-radius: 30px;
  padding: 5px 10px;
}
#section4 .bot li a:hover {
  color: #fff;
  background-color: #6b4e45;
}
#section4 .bot li img {
  margin-right: 220px;
  width: 50px;
  animation: turn 3s infinite;
}
@media screen and (max-width: 1500px) {
  .project > div {
    gap: 30px;
  }
  .project > div:nth-child(even) {
    padding-left: 100px;
    box-sizing: border-box;
  }
  .project > div:nth-child(odd) {
    padding-right: 100px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1024px) {
  .intro {
    padding: 0 50px;
    box-sizing: border-box;
  }
  .intro > div:first-child {
    width: 400px;
  }
  #section2 .skill > ul {
    flex-wrap: wrap;
  }
  #section2 .skill > ul li {
    width: calc((100%-20px * 4) / 6);
  }
  /* #section2 .skill > ul li:nth-child(n + 6) {
          width: calc((100% - 20px * 3) / 4);
        } */
  .project > div {
    gap: 30px;
  }
  .project > div:nth-child(even) {
    padding-left: 100px;
    box-sizing: border-box;
  }
  .project > div:nth-child(odd) {
    padding-right: 100px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 768px) {
  #section2 {
    padding: 0 20px;
    box-sizing: border-box;
  }
  #section2 .intro {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .intro > div:first-child {
    position: relative;
    width: 50%;
  }
  .intro > div:nth-child(2) .item {
    gap: 50px;
  }
  .project .img {
    text-align: center;
  }
  .project .img img {
    width: 70%;
  }
  .project > div {
    flex-direction: column;
  }
  .project > div:nth-child(even) {
    padding-left: 0;
  }
  .project > div:nth-child(odd) {
    padding-right: 0;
  }
}
