@charset "utf-8";
@font-face {
  font-family: "PyeongchangPeace";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Light.woff2")
    format("woff2");
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Regular.woff2")
    format("woff2");
  font-weight: 400;
  font-display: swap;
}
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #333;
}
input {
  display: none;
}
#fullmenu {
  position: fixed;
  right: -100%;
  top: 0;
  width: 500px;
  height: 100%;
  background: #fff;
  transition: 0.5s;
  z-index: 1;
  padding: 0 2.6% 3.1%;
  box-sizing: border-box;
}
#fullmenu ul {
  position: absolute;
  top: 20%;
  left: 10%;
}
#fullmenu ul > li {
  margin: 25px 0;
  padding: 5% 10% 5% 2.5%;
  box-sizing: border-box;
  border-bottom: 1px dashed #cecece;
}
#fullmenu ul > li > a {
  font-family: "Pretendard";
  display: flex;
  flex-wrap: wrap;
  gap: 4px 8px;
}
#fullmenu ul > li > a > h3 {
  font-size: 20px;
}
#fullmenu ul > li > a > span {
  font-size: 0.67vw;
  color: #7e7e7e;
}
#fullmenu p {
  position: absolute;
  bottom: 0;
  font-size: 15px;
  font-family: "Pretendard";
  color: #6e6e6e;
  padding: 1vw 2vw 1.6vw;
  margin-top: 50px;
  text-align: center;
}
body {
  width: 100%;
  max-width: 1905px;
  margin: 0 auto;
  background-image: url(https://online.gogung.go.kr/html/onlinemuseum/resources/images/main/main_background.jpg);
}
section.visual nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 40px;
  box-sizing: border-box;
  color: #000;
  z-index: 999;
}
section.visual nav .logo > a > h1 {
  font-family: "PyeongchangPeace";
  font-weight: 300;
  font-size: 1.6vw;
  line-height: 1.2;
  color: #000;
}
section.visual nav .logo a > span {
  display: block;
  height: 0.9vw;
  font-size: 0.75vw;
  font-weight: 400;
  text-align: justify;
  text-transform: uppercase;
  color: #5e5e5e;
  font-family: "Montserrat";
  letter-spacing: 0.1rem;
}
section.visual nav .right .hambuger {
  position: relative;
  z-index: 2;
}
section.visual nav .right .hambuger label {
  cursor: pointer;
}
section.visual nav .right .hambuger label span {
  display: block;
  width: 30px;
  height: 1px;
  background: #000;
  margin: 9px 0;
  transition: 0.5s;
}

#menu:checked ~ section.visual nav .right .hambuger label span.bar1 {
  transform: translate(0, 11px) rotate(45deg);
  background: #000;
}
#menu:checked ~ section.visual nav .right .hambuger label span.bar2 {
  opacity: 0;
}
#menu:checked ~ section.visual nav .right .hambuger label span.bar3 {
  transform: translate(0, -11px) rotate(-45deg);
  background: #000;
}
#menu:checked ~ #fullmenu {
  right: 0;
}
#menu:checked ~ section.visual::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: calc(100% - 500px);
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  z-index: 999;
}
.con {
  display: flex;
  padding: 2vw;
  box-sizing: border-box;
  font-family: "Pretendard";
}
.con .left {
  width: 460px;
}
.con .left .titwrap h3 {
  font-size: 28px;
  position: relative;
  padding-left: 44px;
  margin-bottom: 24px;
  color: #0e0e0e;
}
.con .left .titwrap h3::before {
  position: absolute;
  top: 5px;
  left: 0;
  width: 1.66vw;
  content: "";
  background-image: url(https://online.gogung.go.kr/html/onlinemuseum/resources/images/sub/ico-title-arrow.svg);
  aspect-ratio: 16/11;
  background-size: cover;
}
.con .left .titwrap p {
  font-size: 18px;
  color: #5e5e5e;
  margin-bottom: 20px;
}
.con .left .floorwrap .onefloor,
.con .left .floorwrap .lastfloor,
.con .left .floorwrap .secfloor {
  padding: 30px 16px 16px 20px;
  box-sizing: border-box;
}

.con .left .floorwrap .tit {
  display: flex;
  justify-content: space-between;
}
.con .left .floorwrap .tit > h3 {
  font-size: 24px;
  color: #8e8e8e;
}
.con .left .floorwrap .tit > h3::after {
  content: "|";
  color: #ccc;
  padding-left: 20px;
}
.con .left .floorwrap .tit > p {
  font-size: 20px;
  font-weight: bold;
  padding-right: 100px;
  color: #8e8e8e;
  position: relative;
  margin-bottom: 30px;
}
.con .left .floorwrap .lastfloor .tit > p {
  padding-right: 0;
}
.con .left .floorwrap .lastfloor > p,
.con .left .floorwrap .onefloor > p,
.con .left .floorwrap .secfloor > p {
  font-size: 17px;
  color: #5e5e5e;
  margin-bottom: 30px;
  box-sizing: border-box;
}
.con .left .floorwrap ul {
  display: flex;
  line-height: 1.3;
  color: #fafafa;
  gap: 20px;
  margin: 20px 0 10px 0;
}
.con .left .floorwrap .onefloor ul > li,
.con .left .floorwrap .secfloor ul > li,
.con .left .floorwrap .lastfloor ul > li {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(30deg, #646464 0%, #020202 25%, #646464 95%);
  border-radius: 5px;
  height: 54px;
  width: 126px;
  margin-bottom: 20px;
}
.con .left .floorwrap ul > li > a {
  color: #fff;
  font-weight: bold;
  text-align: center;
}
.con .left .floorwrap > div {
  width: 100%;
  height: 100%;
  border: 0.2vw solid transparent;
  border-image: linear-gradient(
      135deg,
      rgba(255, 254, 248, 0.8) 0%,
      rgba(155, 155, 155, 0.4) 20%,
      rgba(255, 255, 255, 0.8) 50%,
      rgba(155, 155, 155, 0.4) 100%
    )
    1;
}
.con .map {
  margin-top: 40px;
  padding: 0 28px;
}
.map {
  width: 100%;
  max-width: 1145px;
  position: relative;
}
.map img {
  width: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}
.map ul li a {
  color: #000;
  font-size: 17px;
  font-family: "Pretendard";
}
.map ul li a::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  aspect-ratio: 1;
  background: #61616133;
  border-radius: 50%;
  transform: translate((-50%, -50%));
}
