@charset "utf-8";
@font-face {
  font-family: "Pretendard";
  src: url("../font/Pretendard-Medium.woff");
}
* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: #333;
}
ul {
  list-style: none;
}
body {
  width: 100%;
  max-width: 1900px;
  margin: 0 auto;
}
#fullmenu {
  position: fixed;
  right: -100%;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/bg_B.png");
  transition: 0.5s;
  z-index: 1000;
  padding: 50px 100px 0;
  box-sizing: border-box;
}
#fullmenu .fulllogo img {
  width: 213px;
}
#fullmenu .close {
  position: absolute;
  right: 80px;
  top: 20px;
  font-size: 50px;
}
#fullmenu .close a {
  color: #fff;
  font-weight: bold;
}
#fullmenu ul {
  padding: 150px 60px 0;
  box-sizing: border-box;
  margin-left: 350px;
  list-style: disc;
  color: #fff;
}
#fullmenu ul li {
  margin: 1.563rem 0;
}
#fullmenu ul li a {
  text-transform: uppercase;
  font-family: "Pretendard";
  font-weight: bold;
  font-size: 45px;
  color: #fff;
}
#fullmenu ul li:hover {
  text-decoration: underline;
  text-underline-offset: 10px;
  text-decoration-thickness: 3px;
}
nav {
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 999;
  height: 90px;
  padding: 50px 100px 0 100px;
  box-sizing: border-box;
}
nav .logo img {
  width: 213px;
}
nav .right {
  display: flex;
  align-items: center;
  gap: 30px;
}
nav .right p > a {
  position: relative;
  font-size: 1.125rem;
  font-weight: bold;
  color: #000;
}
nav .right p > a > span {
  position: absolute;
  top: 10%;
  color: #333;
}
nav .right p > a > img {
  width: 30px;
}
section {
  width: 100%;
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
section:nth-child(1) {
  background-image: url("../img/bg_W.png");
}
section:nth-child(2) {
  background-image: url("../img/bg_B.png");
}
section:nth-child(3) {
  background-image: url("../img/bg_G.png");
}
section:nth-child(4) {
  background-image: url("../img/bg4.jpg");
}
section p:last-child {
  position: relative;
  z-index: 1;
}
section div {
  font-family: "Pretendard";
  padding: 0px 0 80px 0;
  text-align: center;
}
section div p > img {
  width: 100%;
}
#section1 div h3 {
  font-size: 1.875rem;
  color: #0066ff;
}
#section1 div p {
  font-size: 1.125rem;
  color: #777;
}
#section3 div h3,
#section2 div h3 {
  font-size: 1.875rem;
  color: #fff;
}
#section3 div p,
#section2 div p {
  font-size: 1.125rem;
  color: #fff;
}
#section2 .btn {
  background-image: url(https://www.jpdc.co.kr/pub/site/samdasoo/new_images/btn_bg2.png);
  background-repeat: no-repeat;
  background-position: bottom center;
  width: 100%;
  height: 53px;
  position: relative;
}
#section2 .btn a {
  font-family: "Pretendard";
  font-size: 1.063rem;
  color: #fff;
  position: absolute;
  left: 50%;
  top: 80%;
  transform: translate(-50%, -50%);
}
#section3 .btn {
  background-image: url(https://www.jpdc.co.kr/pub/site/samdasoo/new_images/btn_bg3.png);
  background-repeat: no-repeat;
  background-position: bottom center;
  width: 100%;
  height: 53px;
  position: relative;
}
#section3 .btn a {
  font-family: "Pretendard";
  font-size: 1.063rem;
  color: #fff;
  position: absolute;
  left: 50%;
  top: 80%;
  transform: translate(-50%, -50%);
}
#section4 {
  height: 100%;
  min-height: 1280px;
  position: relative;
}
#section4 .txt {
  text-align: center;
  color: #2d2d2d;
  position: absolute;
  top: 30%;
}
#section4 .txt h1 {
  line-height: 1.4;
  font-size: 2.313rem;
  font-weight: 300;
}
#section4 .txt h1 > span {
  display: inline-block;
  color: #0066ff;
  font-weight: bold;
}
#section4 .txt p {
  margin-top: 15px;
  font-size: 1.125rem;
}
#section4 .tit {
  position: absolute;
  left: 5%;
  top: 70%;
  text-align: left;
  color: #fff;
}
#section4 .tit h3 {
  font-size: 2.063rem;
  margin-bottom: 25px;
}
#section4 .tit > p {
  font-size: 1.125rem;
  /* margin-bottom: 100px; */
}
#section4 .tit .sns {
  text-align: left;
}
#section4 .tit .sns > p > a {
  color: #fff;
  font-size: 1.25rem;
}
#section4 .tit .sns > p:nth-child(1) {
  margin-top: 50px;
  margin-bottom: 20px;
}
footer {
  position: relative;
  width: 100%;
  height: 293px;
  background: #0e0c0c;
  padding: 50px 100px;
  box-sizing: border-box;
  color: #fff;
  font-family: "Pretendard";
}
footer .one {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .one > ul {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
}
footer .one .left > li > a {
  color: #fff;
  font-size: 1.125rem;
  font-family: "Pretendard";
}
footer .one .right > li > a > img {
  width: 40px;
  height: 40px;
}
footer .address {
  margin-bottom: 5px;
  font-size: 0.75rem;
}
footer > p {
  margin-bottom: 50px;
  font-size: 1rem;
}
footer p:nth-child(4) {
  text-align: center;
}
footer p > img {
  width: 213px;
  object-fit: cover;
}
p.water {
  width: 230px;
  position: fixed;
  left: 50%;
  top: 55%;
  transform: translate(-50%, -50%);
  transition: 0.2s;
}
p.water img {
  width: 100%;
  height: auto;
}
#page {
  position: fixed;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
  z-index: 9999;
}
#page ul {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
#page ul li a {
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  transition: 0.3s;
  border: 1px solid #0066ff;
}
#page ul li a.onblue {
  border: 1px solid #0066ff;
}
#page ul li a.bgblue {
  background: #0066ff;
}
#page ul li a.onwhite {
  border: 1px solid #fff;
}
#page ul li a.bgwhite {
  background: #fff;
}
@media screen and (max-width: 980px) {
  nav {
    padding: 50px 20px;
  }
  nav .logo img {
    width: 105px;
  }
  p.water img {
    width: 70%;
  }
  p.water {
    left: 55%;
  }
  #section4 .txt h1 {
    font-size: 95%;
  }
  #section4 .txt p {
    font-size: 80%;
  }
  #section4 .tit h3 {
    font-size: 90%;
  }
  #section4 .tit p {
    font-size: 90%;
  }
  #section4 .tit .sns p > a {
    font-size: 90%;
  }
  footer {
    padding: 20px;
  }
  footer .one .left li a {
    font-size: 90%;
  }
  footer .one .right li a img {
    width: 20px;
    height: 20px;
  }
  footer p.address {
    font-size: 8%;
  }
  footer p {
    font-size: 80%;
  }
  #fullmenu {
    padding: 50px 20px;
  }
  #fullmenu .close {
    right: 3%;
  }
  #fullmenu .fulllogo img {
    width: 105px;
  }
  #fullmenu ul {
    margin: 0;
    padding: 150 40 0;
  }
  #fullmenu ul li a {
    font-weight: 400;
    font-size: 32px;
  }
}
