@charset "utf-8";
* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #333;
}
input {
  display: none;
}
#fullmenu {
  position: fixed;
  right: -100%;
  top: 0;
  width: 500px;
  height: 100%;
  background: #fff;
  transition: 0.5s;
  z-index: 1;
}
#fullmenu ul {
  position: absolute;
  top: 20%;
  left: 10%;
}
#fullmenu ul li {
  margin: 25px 0;
}
#fullmenu ul li a {
  font-family: "Pretendard";
  font-size: 27px;
}
section {
  height: 100vh;
}
section.visual {
  position: relative;
  background-image: url(https://www.glasslock.co.kr/pages/layout/_glasslock/images/sub/innovation/bg_inno1.jpg);
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
section.visual nav {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  max-width: 1720px;
  width: 100%;
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  z-index: 1;
}
section.visual nav .logo {
  width: 150px;
}
section.visual nav .logo img {
  width: 100%;
  filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(143deg)
    brightness(107%) contrast(100%);
}
section.visual nav .right {
  display: flex;
  gap: 20px;
  align-items: center;
}
section.visual nav .right .mall {
  height: 28px;
  line-height: 28px;
  padding: 0 20px;
  border: 1px solid #fff;
  border-radius: 30px;
}
section.visual nav .right .mall a {
  font-family: "Pretendard";
  color: #fff;
}
section.visual nav .right .mall img {
  width: 20px;
  height: 20px;
  filter: invert();
  vertical-align: middle;
}
section.visual nav .right .lang a {
  font-family: "Pretendard";
  color: #fff;
  display: block;
  border-bottom: 1px solid #fff;
  /* text-decoration: underline;
  text-decoration-color: #fff;
  text-underline-offset: 10px; */
  padding: 5px;
}
section.visual nav .right .hambuger {
  position: relative;
}
section.visual nav .right .hambuger label {
  cursor: pointer;
}
section.visual nav .right .hambuger label span {
  display: block;
  width: 35px;
  height: 2px;
  background: #fff;
  margin: 9px 0;
  transition: 0.5s;
}
section.visual h1 {
  font-family: "Pretendard";
  font-weight: 200;
  color: #fff;
  font-size: 90px;
  text-align: center;
}
#menu:checked ~ section.visual nav .right .hambuger label span.bar1 {
  transform: translate(0, 11px) rotate(45deg);
  background: #000;
}
#menu:checked ~ section.visual nav .right .hambuger label span.bar2 {
  opacity: 0;
}
#menu:checked ~ section.visual nav .right .hambuger label span.bar3 {
  transform: translate(0, -11px) rotate(-45deg);
  background: #000;
}
#menu:checked ~ #fullmenu {
  right: 0;
}
#menu:checked ~ section.visual::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: calc(100% - 500px);
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  z-index: 2;
}
#mall_btn {
  position: fixed;
  right: 100px;
  bottom: 50px;
  cursor: pointer;
}
#mall_btn ul {
  border-radius: 50px 50px;
  background: #173d81;
  height: 85px;
  overflow: hidden;
  transition: 0.3s;
}

#mall_btn ul li {
  width: 85px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Pretendard";
  font-size: 11px;
  color: #fff;
  padding-top: 25px;
}
#mall_btn ul li img {
  width: 32px;
  height: 32px;
  padding-bottom: 5px;
}
#mall_btn ul li:nth-child(3) img,
#mall_btn ul li:nth-child(4) img {
  filter: invert();
}
#mall_btn:hover ul {
  height: 240px;
}
#mall_btn:hover ul li:first-child {
  display: none;
}
#mall_btn.on {
  opacity: 0;
}
section {
  text-align: center;
  padding-top: 200px;
  box-sizing: border-box;
  font-family: "Pretendard";
}
section div > h1 {
  font-size: 45px;
  font-weight: 300;
  margin-top: 50px;
}
section p {
  font-size: 18px;
  margin: 20px 0;
}
section span {
  font-size: 15px;
  color: #777;
}
section .swiper-wrapper {
  margin: 60px;
  margin-top: 100px;
}
section .swiper-wrapper .swiper-slide {
  padding-top: 50px;
  /* box-sizing: border-box; */
  width: 288px;
  height: 104px;
}
section .swiper-wrapper .swiper-slide img {
  height: 100px;
  object-fit: cover;
}
footer {
  padding: 200px 0 50px;
  box-sizing: border-box;
  margin: 0 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .left .logo > a > img {
  width: 150px;
}
footer .left ul {
  margin-top: 10px;
}
footer .left ul li {
  font-size: 1em;
  font-family: "Pretendard";
  line-height: 1.5rem;
}
footer .left ul li span {
  font-weight: bold;
}
footer .right .sns {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
footer .right .sns > li > img {
  width: 25px;
  height: 25px;
  cursor: pointer;
}
footer .right .sns > li:last-child {
  border: 1px solid;
  padding: 3px 15px 0 20px;
  box-sizing: border-box;
  color: #333;
  font-family: "Pretendard";
  font-size: 0.9em;
}
footer .right p {
  font-size: 0.7em;
  font-family: "Pretendard";
  margin-top: 10px;
  padding-bottom: 5px;
}
