@charset "utf-8";
* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #333;
}
.wrap {
  width: 100%;
  max-width: 1900px;
  margin: 0 auto;
}
header nav {
  margin-top: 50px;
  position: static;
}
header nav ul {
  display: flex;
  justify-content: space-around;
}
header nav ul li a {
  font-size: 20px;
}
header nav ul li:nth-child(1) a {
  color: #d1aa5f;
}
header .txt {
  margin-top: 150px;
  font-size: 35px;
}
header .txt h1 {
  background-image: url(../img/gold-texture.gif);
  background-clip: text;
  color: transparent;
}
header .con {
  width: 100%;
  height: 50%;
  position: relative;
  /* left: -150px;
  top: 350px; */
}
header .con video {
  width: 100%;
  object-fit: cover;
}
header .con > p {
  font-size: 20px;
  width: 200px;
  padding: 10px 0;
  background-color: #fff;
  border: 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 80%;
  top: 80%;
}
main .one {
  width: 100%;
  height: 900px;
  background-image: url(../img/paper-wrap.jpg);
  background-size: cover;
  margin-top: 50px;
  position: relative;
}
#loading-left,
#loading-right {
  background: #ed8;
  position: fixed;
  width: 50vw;
  height: 100vh;
}
#loading-left {
  left: 0;
  transform-origin: left top;
}
#loading-right {
  right: 0;
  transform-origin: right top;
}
.container {
  max-width: 800px;
  padding: 2rem;
  text-align: center;
  position: absolute;
  left: 30%;
  top: 10%;
}
.container h1 {
  font-size: 50px;
  margin-bottom: 30px;
}
.container h3 {
  font-size: 20px;
  margin-bottom: 30px;
}
.container p.button {
  font-size: 20px;
  width: 200px;
  padding: 10px 0;
  background-color: #fff;
  border: 1px solid;
}
.container p > img {
  margin-top: 200px;
  width: 300px;
}

main .two .left h1 {
  font-size: 60px;
}
