@charset "utf-8";
* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #333;
}
.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  padding: 0 54px;
  position: relative;
  position: sticky;
  top: 0;
  z-index: 999;
}
.menu {
  position: static;
  top: 0;
  z-index: 2;
}
.menu a {
  font-family: "Pretendard";
  font-weight: bold;
}
.menu > ul {
  display: flex;
  align-items: center;
  width: 1160px;
  height: 105px;
}
.menu > ul > li {
  flex: 1;
  text-align: center;
  position: relative;
}
.menu > ul > li > a {
  font-size: 24px;
}
.menu > ul > li .sub a {
  font-size: 18px;
  line-height: 45px;
}
.menu > ul > li .sub {
  position: absolute;
  left: 0;
  top: 50px;
  width: 100%;
  background-color: #fff;
  height: 0;
  overflow: hidden;
  z-index: 1;
}
.menu > ul:hover > li .sub {
  height: 300px;
}
.menu > ul > li .sub li:hover a {
  font-weight: bold;
  background: #eee;
  padding: 10px 20px;
  border-radius: 20px;
}
.menu > ul > li .sub li a:hover {
  color: #333;
}
.menu .bg {
  position: absolute;
  width: 100%;
  left: 0;
  top: 90px;
  background: #fff;
  border-radius: 20px;
}
.menu > ul:hover ~ .bg {
  height: 300px;
}
.right {
  display: flex;
  align-items: center;
  gap: 10px;
}
.right img {
  padding: 0 15px;
}
.right > p > a {
  font-family: "Pretendard";
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  background: #eee;
  border-radius: 20px;
  padding: 5px 10px;
  line-height: 20px;
}
.right > a {
  position: relative;
}
.right > a > ul {
  overflow: hidden;
  text-align: center;
  position: absolute;
  width: 100%;
  height: 0;
  left: 0;
  top: 70px;
  background-color: #fff;
  border-radius: 10px;
}
.right > a > ul > li {
  font-family: "Pretendard";
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
}
.right > a:hover > ul {
  height: 100px;
  bottom: 0;
  border: 1px solid #eee;
}
.con {
  display: grid;
  width: 1800px;
  margin: 0 auto;
  gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(7, 1fr);
  padding: 54px 50px;
}
.con .item {
  position: relative;
  overflow: hidden;
  border-radius: 20px;
}
.con .item .swiper {
  width: 100%;
  height: 100%;
}

.con .item .swiper-slide {
  background-position: center;
  background-size: cover;
}

.con .item .swiper-slide img {
  display: block;
  width: 100%;
}
.con .item .swiper-button-next,
.swiper-button-prev {
  color: #fff;
}
.con .item:hover img {
  transform: scale(1.1);
}
.con .item:nth-child(5) .inner {
  position: relative;
}
.con .item:nth-child(5) .inner > div {
  position: absolute;
  opacity: 0;
}
.con .item:nth-child(1):hover img,
.con .item:nth-child(5):hover img,
.con .item:nth-child(6):hover img,
.con .item:nth-child(11):hover img,
.con .item:nth-child(12):hover img {
  transform: none;
}

.con .item img {
  transition: 1s;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.con .item .txt {
  position: absolute;
  left: 8%;
  top: 5%;
  color: #fff;
  font-family: "Pretendard";
  font-size: 1.2rem;
  text-transform: uppercase;
}
.con .item .visual {
  position: relative;
}
.con .item:nth-child(1) .visual .txt > div {
  position: absolute;
  left: 150px;
  top: 100px;
  /* transform: translate(-50%, -50%); */
  text-wrap: nowrap;
  z-index: 1;
}
.con .item:nth-child(1) .txt > div h1 {
  text-align: center;
  font-size: 54px;
}
.con .item:nth-child(1) .txt > div p {
  font-weight: bold;
  font-size: 106px;
  text-transform: none;
}

.con .item:nth-child(5) .txt,
.con .item:nth-child(12) .txt {
  font-size: 146px;
  font-weight: bold;
  text-align: center;
  position: absolute;

  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}
.con .item:nth-child(5) .txt {
  left: 30%;
  top: 20%;
}
.con .item:nth-child(5) .txt p:first-child {
  color: #fff;
}
.con .item:nth-child(5) .txt p,
.con .item:nth-child(12) .txt p {
  transition: 0.5s;
}
.con .item:nth-child(5) .txt p:hover,
.con .item:nth-child(12) .txt p:hover {
  color: #fff;
}
.con .item:nth-child(12) .txt {
  left: 10%;
  top: 20%;
}
.con .item:nth-child(12) .txt p:first-child {
  color: #fff;
}
.con .item:nth-child(6) .txt,
.con .item:nth-child(11) .txt {
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.con .item:nth-child(6) .txt h1,
.con .item:nth-child(11) .txt h1 {
  font-size: 48px;
  color: #000;
  padding-bottom: 2%;
}
.con .item:nth-child(6) .txt p,
.con .item:nth-child(11) .txt p {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.5);
  text-wrap: nowrap;
  padding-bottom: 20%;
}
.con .item:nth-child(6) .txt .btn,
.con .item:nth-child(11) .txt .btn {
  cursor: pointer;
  color: #000;
  font-style: 18px;
  background: #f5f5f5;
  border-radius: 20px;
  padding: 10px 30px;
}
/* 여기부터 그리드 */
.con .item:nth-child(1) {
  grid-column: 1 / 5;
}
.con .item:nth-child(2) {
  grid-column: 1;
  grid-row: 2;
}
.item:nth-child(3) {
  grid-column: 2 / 4;
  grid-row: 2;
}
.item:nth-child(4) {
  grid-column: 4;
  grid-row: 2;
}
.item:nth-child(5) {
  grid-column: 1 / 3;
  grid-row: 3 / 5;
}
.item:nth-child(6) {
  grid-column: 3/4;
  grid-row: 3;
  background: #fff;
  border-radius: 20px;
}
.item:nth-child(7) {
  grid-column: 4;
  grid-row: 3;
}
.item:nth-child(8) {
  grid-column: 3;
  grid-row: 4;
}
.item:nth-child(9) {
  grid-column: 4;
  grid-row: 4;
}
.item:nth-child(10) {
  grid-column: 1;
  grid-row: 5;
}
.item:nth-child(11) {
  grid-column: 2;
  grid-row: 5;
  background: #fff;
  border-radius: 20px;
}
.item:nth-child(12) {
  grid-column: 3/5;
  grid-row: 5/7;
}
.item:nth-child(13) {
  grid-column: 1;
  grid-row: 6;
}
.item:nth-child(14) {
  grid-column: 2;
  grid-row: 6;
}
.item:nth-child(15) {
  grid-column: 1/3;
  grid-row: 7;
}
.item:nth-child(16) {
  grid-column: 3/5;
  grid-row: 7;
}
/* 그리드 끝 */
.foot {
  background: #f5f5f5;
  height: 370px;
  padding: 60px 54px;
}
.foot .onfoot {
  display: flex;
  justify-content: space-between;
}
.foot .onfoot .left .ftxt {
  padding: 20px 0;
  font-family: "Pretendard";
  font-weight: bold;
}
.foot .onfoot .left .ftxt .adress {
  margin-bottom: 10px;
  color: rgba(0, 0, 0, 0.5);
}
.foot .onfoot .left .ftxt .info .one {
  display: flex;
}
.foot .onfoot .left .ftxt .info .two {
  display: flex;
  margin-top: 10px;
}
.foot .onfoot .left .ftxt .info .one li::after,
.foot .onfoot .left .ftxt .info .two li::after {
  content: "|";
  padding: 0 10px;
}
.foot .onfoot .left .ftxt .info .two li:last-child:after {
  content: "";
}
.foot .onfoot .right > ul {
  display: flex;
  gap: 50px;
}
.foot .onfoot .right > ul > li {
  text-align: center;
  font-family: "Pretendard";
  font-weight: bold;
}
.foot .onfoot .right > ul > li > a {
  display: inline-block;
  font-size: 20px;
  margin-bottom: 24px;
}
.foot .onfoot .right > ul > li .sub a {
  display: inline-block;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 8px;
}
.foot .site {
  display: flex;
  justify-content: space-between;
  margin-top: 65px;
  font-family: "Pretendard";
  font-weight: bold;
}

.foot .site .leftsite .fam {
  display: flex;
  font-size: 18px;
  margin-right: 9px;
  margin-bottom: 21px;
  gap: 10px;
  text-transform: uppercase;
}
.foot .site .leftsite .fam span {
  display: inline-block;
  background-color: #fff;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.foot .site .copyr {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.3);
}
.foot .sns {
  display: flex;
  gap: 30px;
  cursor: pointer;
}
.foot .sns img {
  width: 68px;
}
.topbtn {
  background-color: #fff;
  border-radius: 100%;
  width: 96px;
}
