@charset "utf-8";
@media screen and (max-width: 1024px) {
  header .con > p {
    font-size: 15px;
    width: 150px;
    left: 75%;
  }
  main .two {
    flex-direction: column;
    margin: 100px 0;
  }
  main .two .left {
    width: 500px;
    height: 500px;
  }
  main .two .left h3 {
    font-size: 20px;
  }
  main .two .right {
    width: 500px;
  }
  main .two .right ul {
    gap: 50px;
  }
  .right ul li {
    overflow: visible;
  }
  .right ul li img {
    width: 300px;
  }
  main .con .doson {
    width: 200px;
    padding: 10px;
  }
  main .con .doson h3 {
    font-size: 11px;
  }
  main .con .doson p {
    margin: 20px 0;
    font-size: 10px;
    margin: 10px 0;
  }
  main .con .doson p:last-child {
    width: 100px;
  }
  main .con .rose {
    width: 200px;
    padding: 10px;
    top: 45%;
    left: 17%;
  }
  main .con .rose h3 {
    font-size: 11px;
  }
  main .con .rose p {
    margin: 20px 0;
    font-size: 10px;
    margin: 10px 0;
  }
  main .con .rose p:last-child {
    width: 100px;
  }
  main .con .orpheon {
    width: 200px;
    padding: 10px;
  }
  main .con .orpheon h3 {
    font-size: 11px;
  }
  main .con .orpheon p {
    margin: 20px 0;
    font-size: 10px;
    margin: 10px 0;
  }
  main .con .orpheon p:last-child {
    width: 100px;
  }
  .fiv .write {
    margin-top: 50px;
    width: 500px;
  }
  .fiv .write h1 {
    font-size: 30px;
  }
  .fiv .write p {
    font-size: 15px;
  }
  .fiv .write span {
    width: 150px;
    font-size: 15px;
  }
  .fiv .write img {
    width: 100px;
  }
  .seven .contact {
    gap: 100px;
  }
}
@media screen and (max-width: 758px) {
  .container h1 {
    font-size: 30px;
  }
  .container h3 {
    font-size: 15px;
  }
  main .two .right ul {
    flex-direction: column;
  }
  main .two .right ul img {
    width: 100%;
  }
  main .con .doson {
    left: 60%;
  }
  .fiv .write {
    padding: 0 50px;
    box-sizing: border-box;
    margin: 50px;
  }
  .fiv .photo {
    display: none;
  }
  .seven .des {
    padding: 0 20px;
    box-sizing: border-box;
  }
  .seven .des li img {
    width: 70%;
  }
  .seven .des li p {
    font-size: 5px;
  }
  .seven .contact {
    gap: 20px;
  }
  .seven .contact li h3 {
    font-size: 20px;
  }
  .seven .contact li p {
    font-size: 15px;
    margin-bottom: 10px;
  }
  .seven .contact li span {
    font-size: 12px;
    width: 80px;
  }
}
