@charset "utf-8";
/*메인, 고객, 바텀 자바스크립트*/
@font-face {
  font-family: "BKBulMatPro";
  src: url(../font/BKBulMatPro-Bold.woff);
}
@font-face {
  font-family: "SDGothic";
  src: url(../font/SDGothicNeoRound-hEb.otf);
}
* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #333;
}
body {
  background-color: #f5ebdc;
}
.wrap {
  width: 100%;
  max-width: 1620px;
  margin: 0 auto;
  padding: 0 3.75rem;
  color: #502314;
  background-color: #f5ebdc;
}

.top {
  width: 100%;
  height: 6.125rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f5ebdc;
  padding: 0 1.875rem;
  box-sizing: border-box;
}
.top .menu {
  position: relative;
}
.top .menu > ul {
  display: flex;
  gap: 1.25rem;
  font-family: "BKBulMatPro";
  text-transform: uppercase;
}
.top .menu > ul > li > a {
  font-size: 1.5rem;
  color: #502314;
}
.top .menu > ul > li .sub {
  width: 100%;
  height: 1.875rem;
  transform: scaleY(0);
  transition: 0.5s;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  top: 2.5rem;
  left: 0;
  background: #502314;
  border-radius: 1.875rem;
  padding: 0 0.625rem;
  box-sizing: border-box;
  font-family: "SDGothic";
}
.top .menu > ul > li .sub > li > a {
  color: rgba(255, 255, 255, 0.5);
}
.top .menu > ul > li:hover .sub {
  transform: scaleY(1);
}
.top .menu > ul > li:nth-child(3):hover .sub {
  position: absolute;
  width: 30%;
  left: 30%;
}
.top .menu > ul > li .sub > li:hover > a {
  color: #fff;
}
.top .right {
  display: flex;
  align-items: center;
  background: #5023140d;
  border-radius: 1.25rem;
  padding: 0.313rem 0.813rem;
  box-sizing: border-box;
  gap: 0.313rem;
}
.top .right > p > a {
  font-family: "SDGothic";
  font-size: 0.813rem;
  color: #502314;
  line-height: 1.875rem;
}
.top #mobile {
  display: none;
}
main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1.25rem;
  font-family: "BKBulMatPro";
}
main .first {
  grid-column: 1/3;
  grid-row: 1/3;
}
main .first img {
  width: 100%;
  object-fit: cover;
  border-radius: 1.25rem;
}
main .sec {
  grid-column: 3;
  grid-row: 1;
  background-color: #fff;
  border-radius: 1.25rem;
  padding: 1.875rem;
  box-sizing: border-box;
}
main .sec h1 {
  color: #502314;
  font-size: 1.875rem;
  text-align: center;
}
main .sec .coupon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
  margin-top: 8%;
  background-image: url(https://www.burgerking.co.kr/img/bg_home_appdown.svg);
  background-position: right;
  background-repeat: no-repeat;
}
main .sec .coupon .down > p {
  background: #f5ebdc;
  border-radius: 3.125rem;
  width: 9.375rem;
  height: 2.625rem;
  text-align: center;
  padding-top: 0.5rem;
  box-sizing: border-box;
  margin-bottom: 0.625rem;
}
main .trd {
  grid-column: 3;
  grid-row: 2;
  background-color: #502314;
  border-radius: 1.25rem;
  height: 94%;
}
main .trd p {
  color: #fff;
  font-size: 1.875rem;
  text-align: center;
  padding-top: 5%;
}
main .trd img {
  text-align: center;
  margin-top: 3%;
  width: 60%;
  object-fit: cover;
}
.ad {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.25rem;
  font-family: "SDGothic";
  padding-bottom: 1.875rem;
  box-sizing: border-box;
}
h1 {
  font-size: 2.625rem;
  font-family: "BKBulMatPro";
  margin: 1.875rem 0;
}

.ad div:first-child {
  grid-column: 1;
}
.ad div:nth-child(2) {
  grid-column: 2;
}
.ad div:last-child {
  grid-column: 3;
}
.ad div {
  position: relative;
}
.ad div p {
  text-align: center;
  font-size: 1.375rem;
  font-family: "SDGothic";
}
.ad div p > a > img {
  width: 100%;
  object-fit: cover;
  border-radius: 1.25rem;
}
.ad div .btn {
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
}
.intro {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.25rem;
}
.intro .box {
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 1.25rem;
  box-sizing: border-box;
  overflow: hidden;
}
.intro .box:first-child {
  grid-column: 1;
}
.intro .box > p > img {
  width: 100%;
  object-fit: cover;
  position: relative;
  top: 2.5rem;
}
.intro .box:nth-child(2) > p > img {
  position: relative;
  top: 0.938rem;
}
.intro .box .txt {
  font-family: "SDGothic";
  padding: 1.25rem;
  box-sizing: border-box;
}
.intro .box .txt > p:first-child {
  background-color: #f5ebdc;
  width: 3.75rem;
  padding: 0.625rem 1rem;
  text-align: center;
  border-radius: 0.625rem;
  font-size: 0.813rem;
}
.intro .box .txt > p:nth-child(2) {
  margin: 0.938rem;
  font-size: 1.375rem;
}
.intro .box .txt .btn {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.625rem;
}
.intro .box .txt .btn p {
  font-size: 1.063rem;
}
.deli {
  margin: 1.875rem 0;
  background-color: #502314;
  width: 100%;
  height: 10.125rem;
  border-radius: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6.25rem;
  font-family: "BKBulMatPro";
}
.deli .txt {
  color: #fff;
}
.deli .txt h1 {
  font-size: 2.188rem;
  margin: 0.625rem 0;
}
.deli .txt .order {
  font-size: 1.125rem;
  font-family: "SDGothic";
}
.deli .txt .def {
  font-size: 1rem;
  font-family: "SDGothic";
}
.deli .number {
  display: flex;
  align-items: center;
}
.deli .number .num {
  font-size: 1rem;
  color: #fa0;
}
.cus {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1.25rem;
  font-family: "SDGothic";
}
.cus .one {
  background-color: #fff;
  border-radius: 1.25rem;
  width: 100%;
  height: 100%;
  padding: 1.25rem;
  box-sizing: border-box;
}
.cus > div span {
  display: inline-block;
  width: 3.75rem;
  background-color: #f5ebdc;
  border-radius: 0.625rem;
  text-align: center;
  padding: 0.625rem 1rem;
  font-size: 0.813rem;
  margin-bottom: 1.125rem;
}
.cus > div h3 {
  font-size: 1.375rem;
}
.cus > div:nth-child(1) {
  grid-column: 1;
  grid-row: 1;
}
.cus > div:nth-child(2) {
  grid-column: 1;
  grid-row: 2;
}
.cus > div:nth-child(3) {
  grid-column: 2;
  grid-row: 1/3;
}
.cus > div:nth-child(4) {
  grid-column: 3;
  grid-row: 1/3;
}
.cus .img {
  background-color: #fff;
  border-radius: 1.25rem;
  width: 100%;

  overflow: hidden;
}
.cus .img .txt {
  padding: 1.25rem;
  box-sizing: border-box;
}
.cus > div > p > img {
  width: 100%;
  object-fit: cover;
  position: relative;
  top: 2.5rem;
}
.bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #d4c3b4;
  border-radius: 1.25rem;
  margin-top: 1.875rem;
  font-family: "SDGothic";
  margin-bottom: 3.125rem;
}
.bottom > p {
  width: 30%;
}
.bottom > p img {
  width: 100%;
}
.bottom .app {
  padding: 0 3.125rem;
}
.bottom .app h2 {
  font-size: 1.875rem;
  padding-top: 1.875rem;
  margin-bottom: 1.5rem;
}
.bottom .app .order {
  display: flex;
  flex-wrap: wrap;
}
.bottom .app .order li a {
  color: #fff;
  font-size: 1.188rem;
  display: inline-block;
  background-color: #502314;
  border-radius: 0.625rem;
  height: 2.313rem;
  padding: 0.5rem 1rem 0.25rem 1rem;
  margin-right: 0.5rem;
  box-sizing: border-box;
  text-align: center;
}
.bottom .app .down {
  display: flex;
  flex-wrap: wrap;
  margin-top: 3rem;
  gap: 1.25rem;
}
.bottom .app .down li > p img {
  width: 10rem;
}
.bottom .app .down li > p:last-child {
  margin-top: 0.625rem;
}
footer {
  width: 100%;
  height: 13.5rem;
  background-color: #fffcf8;
  padding: 2.5rem 3.75rem;
  box-sizing: border-box;
  font-family: "SDGothic";
}
footer .use {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.25rem;
  padding-left: 13.125rem;
}
footer .use li a {
  font-size: 0.75rem;
  color: #856559;
}
footer .use li:nth-child(2) a {
  text-decoration: underline;
  color: #502314b3;
  font-weight: bold;
}
footer .use li:last-child {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #5023140d;
  width: 6.625rem;
  border-radius: 1.25rem;
  padding: 0.5rem 0.75rem;
  box-sizing: border-box;
}
footer .fbottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .fbottom .left {
  display: flex;
  gap: 1.25rem;
  font-size: 0.75rem;
  line-height: 1.25rem;
  color: #856559;
}
footer .fbottom .left ul li:nth-child(2) a {
  text-decoration: underline;
  color: #502314b3;
  font-weight: bold;
}
footer .fbottom .right {
  display: flex;
  margin: 1.563rem 0;
}
footer .fbottom .right p img {
  margin-left: 1.25rem;
}
footer .fbottom .right .sns {
  display: flex;
}
footer .fbottom .right .sns::after {
  content: "";
  background-color: #d4c8b7;
  width: 0.063rem;
  height: 1.25rem;
  margin: 0.313rem 0.938rem;
}
footer .fbottom .right .sns img {
  width: 2rem;
  margin-left: 1.25rem;
}
@media screen and (max-width: 1024px) {
  body {
    background-color: #fffcf8;
  }
  .top .menu {
    display: none;
  }
  .top .right {
    display: none;
  }
  main .first {
    height: 100%;
  }
  main .first img {
    height: 34.375rem;
  }
  main .sec {
    padding: 1.25rem;
    box-sizing: border-box;
  }

  main .sec h1 {
    font-size: 1.375rem;
  }
  main .trd {
    padding: 1.25rem;
    box-sizing: border-box;
    height: 100%;
  }
  main .trd p {
    font-size: 1.375rem;
  }
  main .trd img {
    width: 100%;
  }
}
@media screen and (max-width: 640px) {
  .top {
    padding: 0;
  }
  main {
    grid-template-columns: 1fr 1fr;
  }
  main .first {
    grid-column: 1/3;
  }
  main .first div > img {
    width: 100%;
    height: 16rem;
  }
  main .sec {
    grid-column: 1/2;
    grid-row: 2;
    width: 297px;
  }
  main .sec .coupon > p > img {
    display: none;
  }
  main .trd {
    grid-column: 2 / 3;
    grid-row: 2;
    width: 18.563rem;
  }
  .ad {
    display: grid;
    grid-template-columns: 1fr;
  }
  .ad div:first-child {
    grid-column: 1;
  }
  .ad div:nth-child(2) {
    display: none;
  }
  .ad div:last-child {
    display: none;
  }
  .intro {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .intro .box:nth-child(3) {
    grid-column: 1/3;
    grid-row: 2;
    height: 100%;
    display: flex;
    align-items: center;
  }
  .deli {
    gap: 0.625rem;
  }
  .deli .txt h1 {
    font-size: 1.875rem;
  }
  .deli .txt .order {
    font-size: 0.938rem;
  }
  .deli .txt .def {
    font-size: 0.813rem;
  }
  .deli .number p > img {
    width: 70%;
  }
  .deli .number .num {
    font-size: 2.188rem;
  }
  .cus {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .cus > div:nth-child(1) {
    grid-column: 1;
    grid-row: 1;
  }
  .cus > div:nth-child(2) {
    grid-column: 2;
    grid-row: 1;
  }
  .cus > div:nth-child(3) {
    grid-column: 1;
    grid-row: 2;
  }
  .cus > div:nth-child(4) {
    grid-column: 2;
    grid-row: 2;
  }
  .bottom {
    display: none;
  }
  footer {
    width: 50rem;
    margin: 0 auto;
    padding: 2.5rem 3.75rem;
    box-sizing: border-box;
    height: 50%;
  }
  footer .use {
    padding-left: 0;
  }
  footer .left p img {
    height: 0.938rem;
  }
  footer .left {
    flex-direction: column;
  }
}
